body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: #757575;
}

.list {
  list-style: none;
}

.team {
  background-color: #f5f4fa;
}
.footer-section {
  background-color: #2f303a;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;

  color: #2196f3;
}

.link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  text-decoration: none;

  color: #212121;
}

.contacts {
  color: #757575;
}

.hero {
  background-color: rgb(78, 82, 80);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.advantage-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;

  text-transform: uppercase;

  color: #212121;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: #212121;
}

.works-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;

  color: #ffffff;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;

  color: #212121;
}

.team-member + p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
}

.active:hover {
  color: #2196f3;
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  color: #ffffff;
}

.adress-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  color: rgba(255, 255, 255, 0.6);
}

.feedback {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;

  text-transform: uppercase;

  color: #ffffff;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;

  text-align: center;

  color: #212121;
}
